.wrapper {
  background-image: url('background.jpg');
  background-position: center top;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
}
/* .relative {
  overflow: hidden;
  position: relative;
}

.demo-bg {
  -webkit-filter: invert(100%);
  filter: brightness(70%);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
} */

@media (max-width: 1000px) {
  .wrapper {
    background-size: 150% auto;
  }
}

p {
  font-size: 70px;
  font-weight: 600;
  text-align: center;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.logo {
  width: 50%;
}

.logo_block {
  text-align: center;
  margin: 150px 0 250px 0;
}

.top {
  flex-grow: 1;
}

.footer {
  margin: 0 10px 50px 10px;
}
