.container-photo {
  display: flex;
  flex-direction: column;
}

.photo__cluster-one {
  margin-top: 20px !important;
}

.photo__cluster-one,
.photo__cluster-two {
  display: flex;
  justify-content: center;
  margin: 0 200px;
}

.photo__cluster-one img,
.photo__cluster-two img {
  width: 50%;
  margin: 20px;
  cursor: pointer;
  border: solid;
  border-color: white;
  border-width: 4px;
}

.scaleImage {
  animation: scaling-image-animation 5s ease;
}

@keyframes scaling-image-animation {
  0% {
    transform: scale(0.5);
    opacity: 0.8;
  }
  50% {
    transform: scale(2.1);
  }
  100% {
    transform: scale(2.5);
  }
}
