body {
  margin: 0;
  background-color: #181818;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

address {
  font-style: inherit;
}

.background {
  background-image: url('https://barchikloft.ru/image/background.jpg');
  background-position: center top;
  background-size: 100% auto;
}

.container {
  margin: 0 100px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 999px) {
  .container {
    margin: 0 40px;
  }
}

.logo {
  width: 30%;
}

.logo_block {
  text-align: center;
  margin: 60px 0;
}

@media (max-width: 999px) {
  .logo {
    width: 50%;
  }
  .logo_block {
    margin: 100px 0;
  }
}

.footer {
  margin: 60px 0 0 0;
}

@media (max-width: 999px) {
  .footer {
    margin: 40px 0;
  }
}

.text_big {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  color: white;
  margin: 30px;
}

.text_small {
  font-size: 22px;
  /* font-weight: 600; */
  color: white;
  margin: 0;
}

.text_center {
  text-align: center;
}

@media (max-width: 999px) {
  .text_big {
    font-size: 70px;
  }
  .text_small {
    font-size: 36px;
  }
}

.border {
  border: solid;
  border-width: 4px;
  border-color: white;
}

.button {
  background-color: #e7e7e7;
  color: black !important;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
}

.map_button {
  margin: 10px;
  text-align: center;
}
