body {
  margin: 0;
  background-color: #181818;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  background-image: url('https://barchikloft.ru/image/background.jpg');
  background-position: center top;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 999px) {
  .wrapper {
    background-size: 250vh;
  }
}

.logo {
  width: 30%;
}

.logo_block {
  text-align: center;
  margin: 60px 0 60px 0;
}

@media (max-width: 999px) {
  .logo {
    width: 50%;
  }
  .logo_block {
    margin: 100px 0 100px 0;
  }
}

.top {
  flex-grow: 1;
}

.footer {
  margin: 60px 100px 60px 100px;
}

@media (max-width: 999px) {
  .footer {
    margin: 40px;
  }
}

.text_big {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  color: white;
}

@media (max-width: 999px) {
  .text_big {
    font-size: 70px;
  }
}

address {
  font-style: inherit;
}

.border {
  border: solid;
  border-width: 4px;
  border-color: white;
}
